<script>
/**
 * Invokes a callback when DOM is ready.
 */
function ready(callback) {
  if (document.readyState !== 'loading') callback();
  else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
  else document.attachEvent('onreadystatechange', function () {
      if (document.readyState === 'complete') callback();
    });
}
function _(selector, src) {
  if (src === undefined) {
    src = document;
  }
  return src.querySelector(selector);
}
function addClass(el, className) {
  if (!el) return;
  if (el.classList)
    el.classList.add(className);
  else
    el.className += ' ' + className;
}
function removeClass(el, className) {
  if (!el) return;
  if (el.classList)
    el.classList.remove(className);
  else
    el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
}
let timeout = undefined;
ready(() => {
  const d = document;
  window.onscroll = function() {
    const body = d.body;
    let document = d.documentElement;
    document = (document.clientHeight) ? document : body;
    if (document.scrollTop === 0) {
      addClass(_('body'), 'top');
      timeout = setTimeout(() => {
        addClass(_('body'), 'top2');
      }, 500);
    }
    else {
      if (timeout) clearTimeout(timeout);
      removeClass(_('body'), 'top');
      removeClass(_('body'), 'top2');
      timeout = undefined;
    }
  };
  window.onbeforeunload = function () {
    window.scrollTo(0,0);
  };
});
</script>
