{% extends "base.njk" %}

{% block main %}
  <h3>Clean code</h3>
  <p>
    Pitka, poučna, interaktivna vežba pronalaženja obrazaca koji umanjuju vrednost koda.<br>
    Namenjeno svima koji su započeli putem softverskog inženjera.<br>
    Primeri se rade u Javi, ali materija nije vezana za programski jezik.<br>
    Kurikulum: 1) prolaženje kroz 30-tak 'code smell'-ova 2) refactoring 3) primena
  </p>
  <p>
    Max: <code>16</code> polaznika. Trajanje: <code>1</code> dan. Cena: <code>1990€</code> / <code>besplatno</code> za non-profit & edu
  </p>

  <div class="divider" style="background-image: url(/s1.png)"></div>

  <h3>Docker</h3>
  <p>
    Praktična radionica kojom uvrštavate Docker u svakodnevni programerski alat.<br>
    Stiče se radno, odmah primenjivo znanje Dockera.<br>
    Kurikulum: 1) osnove 2) Dockerfile 3) debug 4) docker-compose 5) network 6) volume 7) primer 8) swarm orkestracija<br>
  </p>
  <p>
    Max: <code>12</code> polaznika. Trajanje: <code>1</code> dan. Cena: <code>1190€</code> / <code>besplatno</code> za non-profit & edu
  </p>

  <div class="divider" style="background-image: url(/s2.png)"></div>

  <h3>Test Driven Development</h3>
  <p>
    Najbolji način razumevanja Test Driven Development-a je upravo njegova primena.<br>
    Primeri se rade u Javi, ali je moguće pratiti i sa drugim programskim jezicima.<br>
    Kurikulum: 1) kate koje naglašavaju različite aspekte TDD-a 2) razumevanje TDD ciklusa 3) BDD
  </p>
  <p>
    Max: <code>16</code> polaznika. Trajanje: <code>1</code> dan. Cena: <code>1490€</code> / <code>besplatno</code> za non-profit & edu
  </p>

  <div class="divider" style="background-image: url(/s3.png)"></div>

{% endblock %}
