{% extends "base.njk" %}

{% block main %}

  <div id="what">
    <img src="/k.png" id="k">
    <h2 style="color: var(--white-color)">Radionice za razvoj<br>softverskih veština.</h2>
  </div>
  <h3 class="heading">{{ site.data.ws.cleancode.name }};</h3>
  <p class="home">
    Pitka, poučna, interaktivna vežba pronalaženja obrazaca koji umanjuju vrednost koda. Namenjeno svima koji su idu putem softverskog inženjera.<br><br>
    <a href="clean-code">Više o radionici...</a>
  </p>
  <p>
    👩‍💼 : <code>{{ site.data.ws.cleancode.people }}</code> polaznika<br>
    ⏰ : <code>{{ site.data.ws.cleancode.duration }}h</code><br>
    🎟 : <code>{{ site.data.ws.cleancode.price }}€</code> / <code>besplatno</code> za non-profit & edu
  </p>

  <div class="divider" style="background-image: url(/s1.png)"></div>

  <h3 class="heading">{{ site.data.ws.docker.name }};</h3>
  <p class="home">
    Praktična radionica kojom uvrštavate Docker u svakodnevni programerski alat.<br>
    Stiče se pragmatično, odmah primenjivo znanje Dockera.<br><br>
    <a href="docker">Više o radionici...</a>
  </p>
  <p>
    👩‍💼 : <code>{{ site.data.ws.docker.people }}</code> polaznika<br>
    ⏰ : <code>{{ site.data.ws.docker.duration }}h</code><br>
    🎟 : <code>{{ site.data.ws.docker.price }}€</code> / <code>besplatno</code> za non-profit & edu
  </p>

  <div class="divider" style="background-image: url(/s2.png)"></div>

  <h3 class="heading">{{ site.data.ws.tdd.name }};</h3>
  <p class="home">
    Najbolji način razumevanja Test-Driven Development-a je upravo njegova primena.
    Primeri se rade u Javi, ali je moguće pratiti i sa drugim programskim jezicima.
    Kurikulum: 1) kate koje naglašavaju različite aspekte TDD-a 2) razumevanje TDD ciklusa 3) BDD
  </p>
  <p>
    👩‍💼 : <code>{{ site.data.ws.tdd.people }}</code> polaznika<br>
    ⏰ : <code>{{ site.data.ws.tdd.duration }}h</code><br>
    🎟 : <code>{{ site.data.ws.tdd.price }}€</code> / <code>besplatno</code> za non-profit & edu
  </p>

  <div class="divider" style="background-image: url(/s3.png)"></div>

{% endblock %}
